
#titulo{
    
    text-align: center;
    padding: 50px;
    margin-left: 390px;
    
}
header{
    background-color: cornflowerblue;
    padding : 1px;
    
}
body{
    background-color: darkcyan;
}
.datos{
    display: flex;
    justify-content: center;
    padding: 10px;
    text-align: center;
}
.boton{
    justify-content: center;
    display: flex;
    
}
h3{
    text-align: center;
   
}
input{
    text-align: center;
}
#foto{
    padding: 7px;
    margin-left: 5cm;
}